<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<head>
	teste
</head>
<body>
		<h2>><%= link_to "Alunos", alunos_path %></h2>
  		<h2>><%= link_to "Cursos", cursos_path %></h2>
  		<h2>><%= link_to "Matriculas", matriculas_path %></h2>
</body>