<html>
<!DOCTYPE html>
<html>
<head>
	<title>Inicial</title>
</head>
<body>
	<h1>Sobre mim</h1>
	
		<img align="center" src="http://ap.imagensbrasil.org/images/2016/10/06/frajola.jpg"/>
		
		<a href="https://www.facebook.com/frajola.geburt"><img align="center" src="http://www.lightbulb.com.br/assets/facebook-1.png"/></a>

		<a href="https://www.instagram.com/frajola_geburt/?hl=pt-br"><img align="center" src="http://www1.nyc.gov/assets/greenyc/images/content/social-instagram-50x50.png"/></a>

		<a href="https://plus.google.com/u/0/113062328433630457945"><img align="center" src="http://cooknbakediary.com/wp-content/uploads/2015/03/google-plus-icon-50x50.png"/></a>
		
		<div class="sobre">
			<p>
				Sérgio do Nascimento Júnior conhecido mais como Frajola, tenho 22 anos moro em Criciúma no bairro Mina do Mato, apaixonado por ficção, animes, instrumentos músicais, jogos eletrônicos e tecnologia.	
			</p>
		</div>
</body>
</html>